/* p { 
    color: blue; 
} */

#latest{
    background-color: purple;
}

.navigation { 
    margin: 2px;
  }

  p.introduction { 
    margin: 2px;
  }

  #blog h1 {
    color: blue;
  }

  #blog div h1 {
    color: blue;
  }

  #blog > h1 {
    color: blue;
  }

  a:hover {
    color: orange;
  }

  